@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Tambahkan di globals.css */
.clip-shape {
  border-radius: 30px 0 30px 30px; /* Sudut kanan atas agak tajam */
  clip-path: path(
    "M 0 50 Q 50 0 150 0 L 100% 0 Q 100% 100% 100% 100% L 0 100% Z"
  );
}